#scan control
scan_flag 		= 0 	 	#1:enable scanning, 0: disable
scan_echo 		= 1 		#1:print scanning information to stdout, 0:disable
scan_param 		= "nbins"
scan_begin 		= 100   
scan_step 		= 20   
scan_end 		= 1000
scan_pfunc 		= 0 		#1:bunching factor, also scan_harm should be defined; 0:peak current

#scan auxiliary panel, only needed when scan_flag=1
nbins 			= 1000
nharm 			= 3 	
total_Charge 	= 20e-12
seed_wavelength = 1047.0e-9 #seed laser's wavelength, [meter]

#chicane
bend_length 	= 0.20 		#[meter]
drift_length 	= 0.75 		#[meter]
bend_field 		= 0.38     #[tesla]

#inputfile
infilename 		= "../datafiles/500klmod2_100fs"
npart  			= 500000

#outputfile
outfilename 	= "../datafiles/500klmod2_100fs_chi_scan"
#outfilename 	= "../datafiles/500klmod2_100fs_chi"
currentfilename = "../datafiles/500klmod2_100fs_chi_cur"

print_list 		= 0 #:1 print namelist
